<div class="container-fluid fa-border" >
  <div>
    <p-growl [value]="msgsGrowl" life="3000"></p-growl>
  </div>
  <!--[(ngModel)]="bookingDetails.forwarderRefNo"
  [(ngModel)]="bookingDetails.forwarder"-->
  <br>
  <form [formGroup]="bookingDetailFormGroup" disabled="disableSave" >

    <div class="row">
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">Forwarder Reference:</div>
        <div class="ui-g-8">
            <input pInputText type="text" formControlName="forwarderRefNo" id="forwarderRefNo" readonly="true"/>
          </div>
        </div>

      <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Booking Agent:</div>
        <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'forwarder')" field="name"
                            (onSelect)="onCustomerSelection($event, 'forwarder')" [formControlName]="'forwarder'" (onFocus)="onFocusLoad('customer', 'forwarder')" >
              <ng-template let-forwarder pTemplate="item" >
                <b>{{forwarder.name}}</b><br>
                {{forwarder.address}}
              </ng-template>
            </p-autoComplete>
              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'forwarder', opCustomer , 'Booking Agent')">
              </button>
            </div>
        </div>
      </div>
    <!--[(ngModel)]="bookingDetails.bookingDate"-->
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Booking Date:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" [formControlName]="'bookingDate'" dateFormat="yy/mm/dd" [utc]="true" ></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Ammended Date:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" [formControlName]="'bookingDate'" dateFormat="yy/mm/dd" [utc]="true"></p-calendar>
          </div>
        </div>
      </div>

    <!--[(ngModel)]="bookingDetails.shipper"-->
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Shipper</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'shipper')" field="name"
                            (onSelect)="onCustomerSelection($event, 'shipper')" [formControlName]="'shipper'" (onFocus)="onFocusLoad('customer')">
              <ng-template let-shipper pTemplate="item" >
                <b>{{shipper.name}}</b><br>
                {{shipper.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'shipper', opCustomer , 'Shipper')">
            </button>
          </div>
        </div>
        <!--[(ngModel)]="bookingDetails.account"-->
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Bill To:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'account')" field="name"
                            (onSelect)="onCustomerSelection($event, 'account')" [formControlName]="'account'" (onFocus)="onFocusLoad('customer')">
              <ng-template let-account pTemplate="item" >
                <b>{{account.name}}</b><br>
                {{account.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'account', opCustomer , 'Bill To')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Consignee</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'consignee')" field="name"
                            (onSelect)="onCustomerSelection($event, 'consignee')" [formControlName]="'consignee'" (onFocus)="onFocusLoad('customer')">
              <ng-template let-consignee pTemplate="item" >
                <b>{{consignee.name}}</b><br>
                {{consignee.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'consignee', opCustomer , 'Consignee')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Delivery Agent:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'foreignAgent')" field="name"
                            (onSelect)="onCustomerSelection($event, 'foreignAgent')" [formControlName]="'foreignAgent'" (onFocus)="onFocusLoad('customer')">
              <ng-template let-foreignAgent pTemplate="item" >
                <b>{{foreignAgent.name}}</b><br>
                {{foreignAgent.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'foreignAgent', opCustomer , 'Delivery Agent')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Notify 1:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'notify')" field="name"
                            (onSelect)="onCustomerSelection($event, 'notify')" [formControlName]="'notify'" (onFocus)="onFocusLoad('customer')">
              <ng-template let-notify pTemplate="item" >
                <b>{{notify.name}}</b><br>
                {{notify.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'notify', opCustomer , 'Notify 1')">
            </button>
          </div>
        </div>
        <!-- Todo use notify 2 instead of notify-->
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Notify 2:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'notify')" field="name"
                            (onSelect)="onCustomerSelection($event, 'notify')" [formControlName]="'notify'" (onFocus)="onFocusLoad('customer')">
              <ng-template let-notify pTemplate="item" >
                <b>{{notify.name}}</b><br>
                {{notify.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'notify', opCustomer , 'Notify 2')">
            </button>
          </div>
        </div>
       </div>


      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Carrier Booking No:</div>
          <div class="ui-g-8">
            <input pInputText type="text" formControlName="carrierBookingNo" id="carrierBookingNo"/>
          </div>
        </div>

        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Service Type</div>
          <div class="ui-g-8">
            <input pInputText type="text" formControlName="typeOfService" id="typeOfService"/>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Carrier Name:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer', 'carrier')" field="name"
                            (onSelect)="onCustomerSelection($event, 'carrier')" [formControlName]="'carrier'" (onFocus)="onFocusLoad('customer')">
              <ng-template let-carrier pTemplate="item" >
                <b>{{carrier.name}}</b><br>
                {{carrier.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'carrier', opCustomer , 'Carrier')">
            </button>
          </div>
        </div>

        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Freight Term</div>
          <div class="ui-g-8">
            <input pInputText type="text" formControlName="freight" id="freight"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4" >Place Of Receipt</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                              (completeMethod)="search($event, 'place')" field="name"
                              (onSelect)="onPlaceSelection($event, 'placeOfReceipt')" [formControlName]="'placeOfReceipt'" (onFocus)="onFocusLoad('place')">
              <ng-template let-placeOfReceipt pTemplate="item" >
                <b>{{placeOfReceipt.name}}</b><br>
                {{placeOfReceipt.address}}
              </ng-template>
            </p-autoComplete>
            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'placeOfReceipt', opPlaces , 'Place Of Receipt')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Port Of Loading</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [(ngModel)]="bookingDetails.portOfLoad" [suggestions]="filteredPlaces"
                            (completeMethod)="search($event, 'place')" field="name"
                            (onSelect)="onPlaceSelection($event, 'portOfLoad')" [formControlName]="'portOfLoad'" (onFocus)="onFocusLoad('place')">
              <ng-template let-portOfLoad pTemplate="item" >
                <b>{{portOfLoad.name}}({{portOfLoad.unCode}})</b><br>
                {{portOfLoad.address}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'portOfLoad',opPlaces,'Port Of Loading')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Port Of Discharge</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                            (completeMethod)="search($event, 'place')" field="name"
                            (onSelect)="onPlaceSelection($event, 'portOfDischarge')" [formControlName]="'portOfDischarge'" (onFocus)="onFocusLoad('place')" [(ngModel)]="bookingDetails.portOfDischarge">
              <ng-template let-portOfDischarge pTemplate="item" >
                <b>{{portOfDischarge.name}}({{portOfDischarge.unCode}})</b><br>
                {{portOfDischarge.address}}
              </ng-template>
            </p-autoComplete>
            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event,'portOfDischarge', opPlaces , 'Port Of Discharge')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Place of Delivery</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item"  forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                            (completeMethod)="search($event, 'place')" field="name"
                            (onSelect)="onPlaceSelection($event, 'placeOfDelivery')" [formControlName]="'placeOfDelivery'">
              <ng-template let-placeOfDelivery pTemplate="item" >
                <b>{{placeOfDelivery.name}}({{placeOfDelivery.unCode}})</b><br>
                {{placeOfDelivery.address}}
              </ng-template>
            </p-autoComplete>
            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'placeOfDelivery', opPlaces , 'Place Of Delivery')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Vessel:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredVessels"
                            (completeMethod)="search($event, 'vessel')" field="name"
                            (onSelect)="onVesselSelection($event, 'vessel')" [formControlName]="'vessel'" (onFocus)="onFocusLoad('vessel')">
              <ng-template let-vessel pTemplate="item" >
                <b>{{vessel.name}}</b><br>
                {{vessel.vesselNo}}
              </ng-template>
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayVessel($event,'vessel', opVessel , 'Vessel')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Voyage:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [formControlName]="'carrierVoyage'" id="carrierVoyage"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Docs Cutoff Date</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'docsCutOffDateTime'" [utc]="true" [(ngModel)]="bookingDetails.docsCutOffDateTime"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Rail CutOff Date:</div>
          <div class="ui-g-8">
            <p-calendar [formControlName]="'rateCutOffDateTime'" showTime="showTime" dateFormat="yy/mm/dd" [utc]="true" [(ngModel)]="bookingDetails.rateCutOffDateTime"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Port Cutoff Date:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" [formControlName]="'cutOffDate'" dateFormat="yy/mm/dd" [utc]="true"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Cargo Moving Date</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'cargoMovingDate'" [utc]="true"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">ETD:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'sailDate'" [utc]="true"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">ETA:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'eta'" [utc]="true"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">ATA:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'delieveryEta'" [utc]="true"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">AES Auth No</div>
          <div class="ui-g-8">
            <input pInputText type="text" formControlName="aesAuthNo" id="aesAuthNo"/>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Docs Received Date</div>
            <div class="ui-g-8">
              <p-calendar showTime="showTime" [formControlName]="'docsReceivedDate'" dateFormat="yy/mm/dd" [utc]="true"></p-calendar>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Shipper Reference</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="shipperRefNo" id="shipperRefNo"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Empty Container Pickup</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                              (completeMethod)="search($event, 'place')" field="name"
                              (onSelect)="onPlaceSelection($event, 'loadTerminal')" [formControlName]="'loadTerminal'" (onFocus)="onFocusLoad('place')">
                <ng-template let-loadTerminal pTemplate="item">
                  <b>{{loadTerminal.name}}</b><br>
                  {{loadTerminal.address}}
                </ng-template>
              </p-autoComplete>
              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'loadTerminal', opPlaces , 'Empty Container Pickup')">
              </button>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Ingate At Terminal</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                              (completeMethod)="search($event, 'place')" field="name"
                              (onSelect)="onPlaceSelection($event, 'transhipmentPort')" [formControlName]="'transhipmentPort'" (onFocus)="onFocusLoad('place')">
                <ng-template let-transhipmentPort pTemplate="item">
                  <b>{{transhipmentPort.name}}</b><br>
                  {{transhipmentPort.address}}
                </ng-template>
              </p-autoComplete>
              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, bookingDetails.transhipmentPort, 'transhipmentPort', opPlaces , 'Ingate At terminal')">
              </button>
          </div>
          </div>
        </div>
    <!--[(ngModel)]="bookingDetails.bookingStatus"-->
         <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Booking Status</div>
            <div class="ui-g-8">
              <p-dropdown [(options)]="statusList" formControlName="bookingStatus" ></p-dropdown>
              <!-- <input pInputText type="text" formControlName="bookingStatus" id="bookingStatus"/>-->
            </div>
          </div>
           <!--[(ngModel)]="bookingDetails.remarks"-->
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Remarks:</div>
            <textarea rows="2" cols="50" pInputTextarea autoResize="true" formControlName="remarks"></textarea>
          </div>
        </div>
          <div>
            <label>Additional Details:</label>
          <hr>
        </div>

        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Service Contract Id</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="serviceContractId" id="serviceContractId"/>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">NRA Number</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="nraNumber" id="nraNumber"/>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">Sales Representative</div>
              <div class="ui-g-8">
                <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPersons"
                                (completeMethod)="search($event, 'salesRepresentative')" field="name"
                                (onSelect)="onPersonSelection($event, 'salesRepresentative')" [formControlName]="'salesRepresentative'" (onFocus)="onFocusLoad('person')">
                  <ng-template let-salesRepresentative pTemplate="item" >
                    <b>{{salesRepresentative.name}}</b><br>
                    {{salesRepresentative.email}} | {{salesRepresentative.mobile}}
                  </ng-template>
                </p-autoComplete>
                <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPerson($event,'salesRepresentative', opPerson , 'Sales Representative')">
                </button>
              </div>
            </div>

            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">Booking Person</div>
              <div class="ui-g-8">
                <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPersons"
                                (completeMethod)="search($event, 'person')" field="name"
                                (onSelect)="onPersonSelection($event, 'bookingPerson')" [formControlName]="'bookingPerson'" (onFocus)="onFocusLoad('person')">
                  <ng-template let-bookingPerson pTemplate="item" >
                    <b>{{bookingPerson.name}}</b><br>
                    {{bookingPerson.email}} | {{bookingPerson.mobile}}
                  </ng-template>
                </p-autoComplete>

                <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPerson($event,'bookingPerson', opPerson , 'Booking Person')">
                </button>
              </div>
            </div>
          </div>

        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Controller</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="controller" id="controller" [(ngModel)]="bookingDetails.controller"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Local SSLine Office</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                              (completeMethod)="search($event, 'customer', 'localSSLineOffice')" field="name"
                              (onSelect)="onCustomerSelection($event, 'localSSLineOffice')" [formControlName]="'localSSLineOffice'" (onFocus)="onFocusLoad('customer')">
                <ng-template let-localSSLineOffice pTemplate="item" >
                  <b>{{localSSLineOffice.name}}</b><br>
                  {{localSSLineOffice.address}} | {{localSSLineOffice.countryCode}}
                </ng-template>
              </p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'localSSLineOffice', opCustomer , 'Local SSLine Office')">
              </button>
            </div>
           </div>
         </div>

        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Line Of Business</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredLOBs"
                              (completeMethod)="search($event, 'lineOfBusiness')" field="name"
                              (onSelect)="onLOBSelection($event, 'lineOfBusiness')" [formControlName]="'lineOfBusiness'" (onFocus)="onFocusLoad('lineOfBusiness')" [(ngModel)]="bookingDetails.lineOfBusiness"></p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayLineOfBusiness($event, 'lineOfBusiness', opLOB , 'Line Of Business')">
              </button>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Division</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredDivisions"
                              (completeMethod)="search($event, 'division')" field="name"
                              (onSelect)="onDivisionSelection($event, 'division')" [formControlName]="'division'" (onFocus)="onFocusLoad('division')">
                <ng-template let-division pTemplate="item" >
                  <b>{{division.name}}</b> ({{division.code}})<br>
                  {{division.branchAddress}}}
                </ng-template>
              </p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayDivision($event, 'division', opDivision , 'Division')">
              </button>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Movement Type</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredMoveTypes"
                              (completeMethod)="search($event, 'typeOfMove')" field="name"
                              (onSelect)="onMovementTypeSelection($event, 'typeOfMove')" [formControlName]="'typeOfMove'" (onFocus)="onFocusLoad('typeOfMove')">
                <ng-template let-typeOfMove pTemplate="item" >
                  <b>{{typeOfMove.typeOfService}}</b><br>
                  {{typeOfMove.description}}}
                </ng-template>
              </p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayMovementType($event, 'typeOfMove', opMovementType, 'Movement Type')">
              </button>
            </div>
          </div>
        </div>

        <div class="row">
        <div class="ui-g-10">
          <!--<button pButton label="Show" type="button" icon='fa-external-link' (click)="showDialog()"></button>-->
          <button pButton label="Save" type="submit" (click)="saveAndNext()" [disabled]="disableScreen">
             </button>
          <button pButton label="Exit" type="submit" (click)="exit()"></button>
          <button pButton label="Print" type="submit" (click)="print()" [disabled]="disableScreen"></button>
          <app-spinner [show]="disableScreen" [size]="50"> </app-spinner>

        </div>
        </div>
      </form>
    </div>

    <p-dialog #opPlaces appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
          <div class="row">
            <div class="ui-g-8 ui-md-6">
              <div class="ui-g-4">Name:</div>
              <div class="ui-g-6">
                <input pInputText type="text"  [(ngModel)]="this.createdPlace.name" required="true"/>
              </div>
            </div>
            <div class="ui-g-8 ui-md-6">
              <div class="ui-g-4">Code</div>
              <div class="ui-g-6">
                <input pInputText type="text" [(ngModel)]="this.createdPlace.code"  required="true"/>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Address:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" [(ngModel)]="this.createdPlace.portStateCode" />
                </div>
              </div>

            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">State:</div>
              <div class="ui-g-8">
                <input pInputText type="text" [(ngModel)]="this.createdPlace.portStateCode" />
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">Country:</div>
              <div class="ui-g-8">
                <input pInputText type="text" [(ngModel)]="this.createdPlace.countryCode" />
              </div>
            </div>
          </div>

          <div class="ui-g-10">
            <button pButton label="Create" type="submit" (click)="createPlace(opPlaces, $event)" [disabled]="this.displayOnly"></button>
            <button pButton label="Cancel" type="submit" (click)="closeDialog(opPlaces, $event)"></button>
          </div>
    </p-dialog>


    <p-dialog #opCustomer appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Name:</div>
            <div class="ui-g-8">
              <input pInputText type="text"  [(ngModel)]="this.createdCustomer.name" required="true" [readonly]="this.displayOnly"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Address:</div>
            <div class="ui-g-16">
              <input pInputTextarea type="text" [(ngModel)]="this.createdCustomer.address" [readonly]="this.displayOnly"/>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Street:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdCustomer.street" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">City:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdCustomer.city" [readonly]="this.displayOnly"/>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">State:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdCustomer.stateCode" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Country:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdCustomer.countryCode" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Person In Charge:</div>
            <div class="ui-g-8">
              <input pInputText type="text" [(ngModel)]="this.createdCustomer.ams2OpsController"  required="true" [readonly]="this.displayOnly"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Type:</div>
            <div class="ui-g-8">
              <input pInputText type="text" [(ngModel)]="this.createdCustomer.type" [readonly]="this.displayOnly"/>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Email:</div>
            <div class="ui-g-8">
              <input pInputText type="text" [(ngModel)]="this.createdCustomer.contactId" [readonly]="this.displayOnly"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Industry Id:</div>
            <div class="ui-g-8">
              <input pInputText type="text" [(ngModel)]="this.createdCustomer.industryId" [readonly]="this.displayOnly"/>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">ClientId:</div>
          <div class="ui-g-8">
            <input pInputText type="number" [(ngModel)]="this.createdCustomer.clientId" [readonly]="this.displayOnly"/>
          </div>
        </div>

      </div>

      <div class="ui-g-10">
          <button pButton label="Create" type="submit" (click)="createCustomer(opCustomer, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opCustomer, $event)"></button>
        </div>
    </p-dialog>




    <p-dialog #opLOB  appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Description:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdBusinessLine.description" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Line Of Business:</div>
          <div class="ui-g-8">
            <input pInputText type="number" [(ngModel)]="this.createdBusinessLine.lineOfBusiness"  required="true" [readonly]="this.displayOnly"/>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Transport Mode:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdBusinessLine.transportMode" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Transport Type:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdBusinessLine.transportType" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createLineOfBusiness(opLOB, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opLOB, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opMovementType appendTo="body"  modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Description:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdMovementType.description" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">EDI Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.ediCode"  required="true" [readonly]="this.displayOnly"/>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Move Start:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.movesStart" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Move End:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.movesEnd" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Type Of Service:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.typeOfService" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <!--<div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Street:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdCustomer.street" [readonly]="this.displayOnly"/>
          </div>
        </div>-->
      </div>
      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createMovementType(opMovementType, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opMovementType, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opDivision appendTo="body" class="ui-panel" modal="true" header="{{this.hoveredLabel}}" [closable]="false">

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdDivision.name" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdDivision.code"  required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Branch Address:</div>
          <div class="ui-g-16">
            <input pInputTextarea type="text" [(ngModel)]="this.createdDivision.branchAddress" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>

      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createCustomer(opDivision, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opDivision, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opVessel appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdVessel.name" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Vessel Number:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.vesselNo"  required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
<!--
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Lloyds Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.lloydsCode" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Country Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.country.name" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Country Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.country.code" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>-->
      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createVessel(opVessel, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opVessel, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opPerson appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdCustomer.name" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Phone:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.phone"  required="true" [readonly]="this.displayOnly"/>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Mobile:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.mobile" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Email:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.email" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Fax:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.fax" [readonly]="this.displayOnly"/>
          </div>
        </div>

      </div>

      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createPerson(opPerson, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opPerson, $event)"></button>
      </div>
    </p-dialog>

