<div class="container-fluid fa-border" >
  <div>
    <p-growl [(value)]="msgsGrowl" life="3000"></p-growl>
  </div>
  
  <br>
  <form [formGroup]="bookingDetailFormGroup" disabled="disableSave" >

    <div class="row">
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">Forwarder Reference:</div>
        <div class="ui-g-8">
            <input pInputText type="text" formControlName="forwarderRefNo" id="forwarderRefNo" readonly="true"/>
          </div>
        </div>

      <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Booking Agent:</div>
        <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'bookingAgent'">
            </p-autoComplete>
              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'bookingAgent', opCustomer , 'Booking Agent')">
              </button>
            </div>
            <span class="help-block" *ngIf="!bookingDetailFormGroup.get('bookingAgent').valid 
            && bookingDetailFormGroup.get('bookingAgent').touched">Please select a valid booking agent!</span>
        </div>
      </div>
    
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Booking Date:</div>
          <div class="ui-g-8">

            <p-calendar showTime="showTime" [formControlName]="'bookingDate'" dateFormat="yy/mm/dd" [utc]="true" ></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Amendment Date:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" [formControlName]="'amendmentDate'" dateFormat="yy/mm/dd" [utc]="true"></p-calendar>
          </div>
        </div>
      </div>

    
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Shipper</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'shipper'">
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'shipper', opCustomer , 'Shipper')">
            </button>
          </div>
          <span class="help-block" *ngIf="!bookingDetailFormGroup.get('shipper').valid 
          && bookingDetailFormGroup.get('shipper').touched">Please select a valid Shipper!</span>
        </div>
        
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Bill To:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'billTo'">
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'billTo', opCustomer , 'Bill To')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Consignee</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'consignee'">
 
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'consignee', opCustomer , 'Consignee')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Delivery Agent:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'deliveryAgent'">

            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'deliveryAgent', opCustomer , 'Delivery Agent')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Notify 1:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'notify1'">
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'notify1', opCustomer , 'Notify 1')">
            </button>
          </div>
        </div>
        <!-- Todo use notify 2 instead of notify-->
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Notify 2:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'notify2'">
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'notify2', opCustomer , 'Notify 2')">
            </button>
          </div>
        </div>
       </div>


      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Carrier Booking No:</div>
          <div class="ui-g-8">
            <input pInputText type="text" formControlName="carrierBookingNo" id="carrierBookingNo"/>
          </div>
        </div>
        
        <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Service Type:</div>
            <div class="ui-g-8">
              <p-dropdown [(options)]="serviceTypeList" formControlName="typeOfService" ></p-dropdown>
            </div>
          </div>
      </div>


      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Carrier Name:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                            (completeMethod)="search($event, 'customer')" field="name"
                            [formControlName]="'carrier'" >
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event, 'carrier', opCustomer , 'Carrier')">
            </button>
          </div>
        </div>

        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Freight Term</div>
          <div class="ui-g-8">
            <p-dropdown [(options)]="freightList" formControlName="freight" id="freight"></p-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4" >Place Of Receipt</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                              (completeMethod)="search($event, 'place')" field="name"
                              [formControlName]="'placeOfReceipt'" (onClear)="clearPlace(this.bookingDetailFormGroup,'placeOfReceipt')">
            </p-autoComplete>
            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'placeOfReceipt', opPlaces , 'Place Of Receipt')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Port Of Loading</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3"  [suggestions]="filteredPlaces"
                            (completeMethod)="search($event, 'place')" field="name"
                            (onSelect)="onPlaceSelection($event, 'portOfLoad')" [formControlName]="'portOfLoad'" (onClear)="clearPlace(this.bookingDetailFormGroup,'portOfLoad')">
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'portOfLoad',opPlaces,'Port Of Loading')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Port Of Discharge</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                            (completeMethod)="search($event, 'place')" field="name"
                            (onSelect)="onPlaceSelection($event, 'portOfDischarge')" [formControlName]="'portOfDischarge'" (onClear)="clearPlace(this.bookingDetailFormGroup,'portOfDischarge')">
              </p-autoComplete>
            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event,'portOfDischarge', opPlaces , 'Port Of Discharge')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Place of Delivery</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item"  forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                            (completeMethod)="search($event, 'place')" field="name"
                            (onSelect)="onPlaceSelection($event, 'placeOfDelivery')" [formControlName]="'placeOfDelivery'">
            </p-autoComplete>
            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'placeOfDelivery', opPlaces , 'Place Of Delivery')">
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Vessel:</div>
          <div class="ui-g-8">
            <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredVessels"
                            (completeMethod)="search($event, 'vessel')" field="name"
                            (onSelect)="onVesselSelection($event, 'vessel')" [formControlName]="'vessel'">
            </p-autoComplete>

            <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayVessel($event,'vessel', opVessel , 'Vessel')">
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Voyage:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [formControlName]="'carrierVoyage'" id="carrierVoyage"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Docs Cutoff Date</div>
          <div class="ui-g-8">
             <p-calendar showTime="showTime" hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'docsCutOffDateTime'" [utc]="true" ></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Rail CutOff Date:</div>
          <div class="ui-g-8">
            <p-calendar [formControlName]="'railCutOffDateTime'" showTime="showTime" dateFormat="yy/mm/dd" [utc]="true" ></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Port Cutoff Date:</div>
          <div class="ui-g-8">
            <p-calendar showTime="showTime" [formControlName]="'portCutOffDate'" dateFormat="yy/mm/dd" [utc]="true"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Cargo Moving Date</div>
          <div class="ui-g-8">
            <p-calendar hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'cargoMovingDate'" [utc]="true"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">ETD:</div>
          <div class="ui-g-8">
            <p-calendar hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'sailDate'" [utc]="true"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">ETA:</div>
          <div class="ui-g-8">
            <p-calendar hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'eta'" [utc]="true"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">ATA:</div>
          <div class="ui-g-8">
            <p-calendar hourFormat="24" dateFormat="yy/mm/dd" [formControlName]="'delieveryEta'" [utc]="true"></p-calendar>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">AES Auth No</div>
          <div class="ui-g-8">
            <input pInputText type="text" formControlName="aesAuthNo" id="aesAuthNo"/>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Docs Received Date</div>
            <div class="ui-g-8">
              <p-calendar showTime="showTime" [formControlName]="'docsReceivedDate'" dateFormat="yy/mm/dd" [utc]="true"></p-calendar>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Shipper Reference</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="shipperRefNo" id="shipperRefNo"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Empty Container Pickup</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                              (completeMethod)="search($event, 'place')" field="name"
                              (onSelect)="onPlaceSelection($event, 'emptyContainerPickup')" [formControlName]="'emptyContainerPickup'">
                </p-autoComplete>
              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'emptyContainerPickup', opPlaces , 'Empty Container Pickup')">
              </button>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Ingate At Terminal</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPlaces"
                              (completeMethod)="search($event, 'place')" field="name"
                              (onSelect)="onPlaceSelection($event, 'ingateAtTerminal')" [formControlName]="'ingateAtTerminal'">
              </p-autoComplete>
              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPlace($event, 'ingateAtTerminal', opPlaces , 'Ingate At terminal')">
              </button>
          </div>
          </div>
        </div>
    
         <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Booking Status</div>
            <div class="ui-g-8">
              <p-dropdown [(options)]="statusList" formControlName="bookingStatus"  readonly="true"></p-dropdown>
            </div>
          </div>
          
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Remarks:</div>
            <textarea rows="2" cols="50" pInputTextarea autoResize="true" formControlName="remarks"></textarea>
          </div>
        </div>
          <div>
            <label>Additional Details:</label>
          <hr>
        </div>
<!-- 
        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Service Contract Id</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="serviceContractId" id="serviceContractId"/>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">NRA Number</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="nraNumber" id="nraNumber"/>
            </div>
          </div>
        </div> -->

          <div class="row">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">Sales Representative</div>
              <div class="ui-g-8">
                <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPersons"
                                (completeMethod)="search($event, 'salesRepresentative')" field="name"
                                [formControlName]="'salesRepresentative'">
                </p-autoComplete>
                <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPerson($event,'salesRepresentative', opPerson , 'Sales Representative')">
                </button>
              </div>
            </div>

            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">Booking Person</div>
              <div class="ui-g-8">
                <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredPersons"
                                (completeMethod)="search($event, 'person')" field="name"
                                [formControlName]="'bookingPerson'">
                </p-autoComplete>

                <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayPerson($event,'bookingPerson', opPerson , 'Booking Person')">
                </button>
              </div>
            </div>
          </div>
<!-- 
        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Controller</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="controller" id="controller" [(ngModel)]="bookingDetails.controller"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Local SSLine Office</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCustomers"
                              (completeMethod)="search($event, 'customer')" field="name"
                              (onSelect)="onCustomerSelection($event, 'localSSLineOffice')" [formControlName]="'localSSLineOffice'">
              </p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayCustomer($event,'localSSLineOffice', opCustomer , 'Local SSLine Office')">
              </button>
            </div>
           </div>
         </div>

        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Line Of Business</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredLOBs"
                              (completeMethod)="search($event, 'lineOfBusiness')" field="name"
                              [formControlName]="'lineOfBusiness'"></p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayLineOfBusiness($event, 'lineOfBusiness', opLOB , 'Line Of Business')">
              </button>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Division</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredDivisions"
                              (completeMethod)="search($event, 'division')" field="name"
                              [formControlName]="'division'" >
              </p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayDivision($event, 'division', opDivision , 'Division')">
              </button>
            </div>
          </div>

        </div> -->
<!-- 
        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Movement Type</div>
            <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredMoveTypes"
                              (completeMethod)="search($event, 'typeOfMove')" field="name"
                              [formControlName]="'typeOfMove'">
              </p-autoComplete>

              <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayMovementType($event, 'typeOfMove', opMovementType, 'Movement Type')">
              </button>
            </div>
          </div>
        </div> -->

        <div class="row">
        <div class="ui-g-10">
          <button pButton label="Save And Next" type="submit" (click)="saveAndNext()" [disabled]="disableScreen "></button>
          <button pButton label="Save And Exit" type="submit" (click)="saveAndExit()" [disabled]="disableScreen"></button>
          <button pButton label="Exit" type="submit" (click)="exit()"></button>
          <app-spinner [show]="disableScreen" [size]="50"> </app-spinner>

        </div>
        </div>
      </form>
    </div>

    <p-dialog #opPlaces appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false" width="650" [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="placeFormGroup" >
      <div class="row">
            <div class="ui-g-8 ui-md-6">
              <div class="ui-g-4">Name:</div>
              <div class="ui-g-6">
                <input pInputText type="text"  formControlName="name" [readonly]="this.displayOnly"/>
              </div>
            </div>
            <div class="ui-g-8 ui-md-6">
              <div class="ui-g-4">Code</div>
              <div class="ui-g-6">
                <input pInputText type="text" formControlName="code"  [readonly]="this.displayOnly"/>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Address:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" formControlName="address" [readonly]="this.displayOnly"/>
                </div>
              </div>

            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">City:</div>
              <div class="ui-g-8">
                  <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" forceSelection="true" delay="1000" minlength="3" [suggestions]="filteredCities"
                  (completeMethod)="search($event, 'city')" field="name"
                  [formControlName]="'city'" [readonly]="this.displayOnly"
                  (onSelect)="onCitySelection(this.placeFormGroup)" >
                </p-autoComplete>
              </div>
            </div>
            
          </div>
          <div class="row">
              <div class="ui-g-12 ui-md-6">
                  <div class="ui-g-4">Country:</div>    
                  <div class="ui-g-8">
                    <input pInputText type="text" formControlName="country" [readonly]="true"/>
                  </div>
                </div>
              <div class="ui-g-12 ui-md-6">
                 <div class="ui-g-4">State:</div>
                 <div class="ui-g-8">
                   <input pInputText type="text" formControlName="state" [readonly]="true"/>
                 </div>
               </div>
           </div>
          <div class="row">
              <div class="ui-g-12 ui-md-6">
                  <div class="ui-g-4">TimeZone:</div>
                  <div class="ui-g-8">
                     <p-dropdown [(options)]="timezoneIdList" formControlName="timeZoneId" [readonly]="this.displayOnly"></p-dropdown>
                  </div>
                </div>
                
          </div>
          <div class="ui-g-10">
            <button pButton label="Create" type="submit" (click)="createPlace(opPlaces, $event)" [disabled]="this.displayOnly"></button>
            <button pButton label="Cancel" type="submit" (click)="closePlaceDialog(opPlaces, $event)"></button>
          </div>
        </form>
    </p-dialog>


    <p-dialog #opCustomer appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false"  [resizable]="true" width="640">
      <form [formGroup]="customerFormGroup" >
          
      <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Name:</div>
            <div class="ui-g-8">
              <input pInputText type="text"  [formControlName]="'name'" required="true" [readonly]="this.displayOnly"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Tax Id:</div>
            <div class="ui-g-8">
              <input pInputText type="text"  formControlName="taxId" required="true" [readonly]="this.displayOnly"/>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Address:</div>
          <div class="ui-g-8">
            <input pInputTextarea type="text" [formControlName]="'address'" [readonly]="this.displayOnly"
            autoResize="autoResize"/>
          </div>
        </div> 
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">City:</div>
          <div class="ui-g-8">
              <p-autoComplete placeholder="Type to search" emptyMessage="Did not find item" delay="1000" minlength="3" [suggestions]="filteredCities"
              (completeMethod)="search($event, 'city')" field="name"
              [formControlName]="'city'" [readonly]="this.displayOnly"
              (onSelect)="onCitySelection(this.customerFormGroup)">
            </p-autoComplete>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Country:</div>
          <div class="ui-g-8">
              <input pInputText type="text" formControlName="country" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">State:</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="state" [readonly]="this.displayOnly"/>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Person In Charge:</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="personInCharge"  required="true" [readonly]="this.displayOnly"/>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Email:</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="email" [readonly]="this.displayOnly"/>
            </div>
          </div>
          
        </div>
        <div class="row">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Phone:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" formControlName="phone" [readonly]="this.displayOnly"/>
                </div>
              </div>
        </div>

      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createCustomer(opCustomer, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Close" type="submit" (click)="closeCustomerDialog(opCustomer, $event)"></button>
        </div>
      </form>
    </p-dialog>




    <p-dialog #opLOB  appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Description:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdBusinessLine.description" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Line Of Business:</div>
          <div class="ui-g-8">
            <input pInputText type="number" [(ngModel)]="this.createdBusinessLine.lineOfBusiness"  required="true" [readonly]="this.displayOnly"/>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Transport Mode:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdBusinessLine.transportMode" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Transport Type:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdBusinessLine.transportType" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createLineOfBusiness(opLOB, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opLOB, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opMovementType appendTo="body"  modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Description:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdMovementType.description" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">EDI Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.ediCode"  required="true" [readonly]="this.displayOnly"/>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Move Start:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.movesStart" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Move End:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.movesEnd" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Type Of Service:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdMovementType.typeOfService" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <!--<div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Street:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdCustomer.street" [readonly]="this.displayOnly"/>
          </div>
        </div>-->
      </div>
      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createMovementType(opMovementType, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opMovementType, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opDivision appendTo="body" class="ui-panel" modal="true" header="{{this.hoveredLabel}}" [closable]="false">

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdDivision.name" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdDivision.code"  required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Branch Address:</div>
          <div class="ui-g-16">
            <input pInputTextarea type="text" [(ngModel)]="this.createdDivision.branchAddress" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>

      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createCustomer(opDivision, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opDivision, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opVessel appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdVessel.name" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Vessel Number:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.vesselNo"  required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
<!--
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Lloyds Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.lloydsCode" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Country Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.country.name" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Country Code:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdVessel.country.code" [readonly]="this.displayOnly"/>
          </div>
        </div>
      </div>-->
      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createVessel(opVessel, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opVessel, $event)"></button>
      </div>
    </p-dialog>

    <p-dialog #opPerson appendTo="body" modal="true" header="{{this.hoveredLabel}}" [closable]="false">
      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Name:</div>
          <div class="ui-g-8">
            <input pInputText type="text"  [(ngModel)]="this.createdPerson.name" required="true" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Phone:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.phone"  required="true" [readonly]="this.displayOnly"/>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Mobile:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.mobile" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Email:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.email" [readonly]="this.displayOnly"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g-4">Fax:</div>
          <div class="ui-g-8">
            <input pInputText type="text" [(ngModel)]="this.createdPerson.fax" [readonly]="this.displayOnly"/>
          </div>
        </div>

      </div>

      <div class="ui-g-10">
        <button pButton label="Create" type="submit" (click)="createPerson(opPerson, $event)" [disabled]="this.displayOnly"></button>
        <button pButton label="Cancel" type="submit" (click)="closeDialog(opPerson, $event)"></button>
      </div>
    </p-dialog>

