<div>
  <div class="pull-right">
     <span style="font-weight:bold; font-size:12pt">Forwarder Ref#: {{getBookingDetails().forwarderRefNo}}</span>
  </div>
  <div class="center">
     <p-steps styleClass="steps-custom" [model]="bookingDetailSvc.getStepItems()" [(activeIndex)]="activeIndex" [readonly]="false" (onclick)="changeBookingDetailsView($event)" ></p-steps>
  </div>
</div>
<br>

<div>
  <app-booking *ngIf="activeIndex==0" (stepIndex)="onChange($event)"></app-booking>
  <app-container *ngIf="activeIndex==1" (stepIndex)="onChange($event)"></app-container>
  <app-bill-of-lading *ngIf="activeIndex==2" (stepIndex)="onChange($event)"></app-bill-of-lading>

</div>
