<div class="container-fluid">
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:right" (click)="createNewBooking()" label="Create New Booking">
      </button>
    </div>
  </div>
  <p-dataTable sortMode="multiple" [value]="bookings" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt
   [(selection)]="selectedBooking" (onRowSelect)="handleBookingSelection($event)">
    <p-header>List of Bookings</p-header>
  
    <p-column field="carrierBookingNo" header="Carrier Booking#" [filter]="true" filterPlaceholder="Search"  [sortable]="true"></p-column>
    <p-column field="nvoccBookingNo" header="Forwarder Reference#" [filter]="true" filterPlaceholder="Search"  [sortable]="true"></p-column>
    <p-column field="bookingStatus" header="Booking Status" [filter]="true" filterMatchMode="equals">
      <ng-template pTemplate="filter" let-col>
        <p-dropdown [options]="statusList" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
      </ng-template>
    </p-column>
    <p-column field="shipperRefNo" header="Shipper Ref#" [filter]="true" filterPlaceholder="Search">
    </p-column>
    <!-- filterPlaceholder="Search" -->
    <p-column field="bookingDate" header="Booking Date" [sortable]="true">
        <ng-template let-col let-bookingDate="rowData" pTemplate="body">
            <span >{{bookingDate[col.field]}}</span>
        </ng-template>
    </p-column>
  
    <p-column styleClass="col-button" header="Action">
       <ng-template let-booking="rowData" pTemplate="body">
            <button type="button" class="ui-button-primary" pButton style="color:red " icon="fa-file-pdf-o" (click)="print(booking.id)" pTooltip="Print Booking Confirmation" tooltipPosition="top" appendTo="body"></button>
            <button type="button" pButton class="ui-button-warning" icon="fa-check" iconPos="right" (click)="updateBooking(booking.id)" pTooltip="Update Booking" tooltipPosition="top" appendTo="body"></button>
            <button type="button" pButton class="ui-button-danger" icon="fa-close" (click)="cancelBooking()" pTooltip="Cancel Booking" tooltipPosition="top" appendTo="body"></button>
            <button type="button" pButton class="ui-button-info" icon="fa-eye" (click)="viewBooking(booking.id)" pTooltip="View Booking" tooltipPosition="top" appendTo="body">
              
            </button>
            
        </ng-template>
    </p-column>
  </p-dataTable>
  </div>
  
  <p-dialog header="Booking Details" [(visible)]="displayBookingDialog" [responsive]="true" showEffect="fade" [modal]="true">
   
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete Booking"></button>
        <button type="button" pButton icon="fa-check" (click)="updateBooking(selectedBooking.id)" label="Update Booking"></button>
      </div>
    </p-footer>
  </p-dialog>
  <app-spinner [show]="disableScreen" [size]="50"> </app-spinner>
  