<div class="row">
   
  <div class="ui-g-12 ui-md-6">
    <div class="ui-g-4">Container Type:</div>
    <div class="ui-g-8">
      <p-autoComplete delay="500" minlength="3" [suggestions]="filteredContainerTypes"
                      (completeMethod)="search($event, 'containerType')" field="type"
                      [(ngModel)]="containerType"></p-autoComplete>

      <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayDialog($event, dialogContainerType)">
      </button>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="ui-g-4">Commodity:</div>
    <div class="ui-g-8">
      <p-autoComplete delay="500" minlength="3" [suggestions]="filteredCommodities"
                      (completeMethod)="search($event, 'commodity')" field="name"
                      [(ngModel)]="commodity"
      ></p-autoComplete>

      <button pButton type="button" icon="fa-plus" iconPos="left" class="ui-button-info" (click)="displayDialog($event, dialogCommodity)">
      </button>
    </div>
  </div>

</div>
<div class="row">
  <div class="ui-g-12 ui-md-6">
    <div class="ui-g-4">Number Of Container</div>
    <div class="ui-g-8">
      <input pInputText type="number" [(ngModel)]="numberOfContainers"/>
    </div>
  </div>
  <button type="button"  class="btn-primary" (click)="addContainers($event)">Add Containers</button>
  <button type="button" class="btn-primary" (click)="createContainer($event, dialogContainer)">New Container</button>
</div>


  <div ngFor="const cotype of containerTypeMap">
    <label>{{containerTypeMap.size}}</label>

  </div>
<div> </div>

<p-dataTable [(value)]="this.bookingDetails.containerDetails">
  <p-column field="containerNo" header="Container Name"></p-column>
  <p-column field="containerType.type" header="Container Type"></p-column>

</p-dataTable>

<p-dialog #dialogContainer modal="true" appendTo="body" [closable]="false">

        <form [formGroup]="containerFormGroup">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Container No:</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="containerNo" id="containerNo"/>
            </div>
            <div class="ui-g-12 ui-md-6">
            </div>
            <div class="ui-g-4">Container Type</div>
            <div class="ui-g-8">
              <p-autoComplete [suggestions]="filteredContainerTypes"
                              (completeMethod)="search($event, 'containerType')" field="name"
                              (onSelect)="onContainerTypeSelection($event)" [formControlName]="'containerType'" ></p-autoComplete>
            </div>
          </div>
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Seal-1</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="seal1" id="seal1"/>
            </div>
          </div>
      
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Seal-2</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="seal2" id="seal2"/>
            </div>
          </div>
      
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Seal-3</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="seal3" id="seal3"/>
            </div>
          </div>
      
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Tare (lbs)</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="tare_lbs" id="tare_lbs"/>
            </div>
          </div>
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Tare (kgs)</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="tare_kgs" id="tare_kgs"/>
            </div>
          </div>
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Gross (lbs)</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="gross_lbs" id="gross_lbs"/>
            </div>
          </div>
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Gross (kgs)</div>
            <div class="ui-g-8">
              <input pInputText type="text" formControlName="gross_kgs" id="gross_kgs"/>
            </div>
          </div>
      
      
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-4">Equipment</div>
            <div class="ui-g-8">
              <p-dropdown [options]="equipments" formControlName="equipment" id="equipment" (onChange)="onSelectedItem($event)"></p-dropdown>
            </div>
          </div>
      
          <div class="ui-g-10">
            <button pButton label="Create" type="button" (click)="createContainer($event, dialogContainer)"></button>
            <button pButton label="Close" type="button" (click)="closeDialog(dialogContainer)"></button>
          </div>

        </form>

</p-dialog>

<p-dialog #dialogContainerType modal="true" appendTo="body" [closable]="false">
  
          <form [formGroup]="containerTypeFormGroup">
            <div class="row">
              <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Type:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" formControlName="type" id="type"/>
                </div>
              </div>
              <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Size:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" formControlName="size" id="size"/>
                </div>
              </div>
              </div>
            <div class="row">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">Container Type:</div>
              <div class="ui-g-8">
                <input pInputText type="text" formControlName="containerType" id="containerType"/>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">TEU:</div>
              <div class="ui-g-8">
                <input pInputText type="text" formControlName="teu" id="teu"/>
              </div>
            </div>
            </div>
            <div class="row">
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">CBM:</div>
              <div class="ui-g-8">
                <input pInputText type="number" formControlName="cbm" id="cbm"/>
              </div>
            </div>
        
        
            <div class="ui-g-12 ui-md-6">
              <div class="ui-g-4">Description:</div>
              <div class="ui-g-8">
                <input pInputText type="text" formControlName="description" id="description"/>
              </div>
            </div>
            </div>
        
        
            <div class="ui-g-10">
              <button pButton label="Create" type="button" (click)="createContainerType(dialogContainerType)"></button>
              <button pButton label="Close" type="button" (click)="closeDialog(dialogContainerType)"></button>
            </div>
          </form>
  
  </p-dialog>

  <p-dialog #dialogCommodity modal="true" appendTo="body" [closable]="false">
    
            <form [formGroup]="commodityFormGroup">
              <div class="row">
                <div class="ui-g-12 ui-md-6">
                  <div class="ui-g-4">Name:</div>
                  <div class="ui-g-8">
                    <input pInputText type="text" formControlName="name" id="name"/>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                  <div class="ui-g-4">Description:</div>
                  <div class="ui-g-8">
                    <input pInputText type="text" formControlName="description" id="description"/>
                  </div>
                </div>
                </div>
              <div class="row">
              <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Primary Quatity:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" formControlName="primaryQuantity" id="primaryQuantity"/>
                </div>
              </div>
              <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Schedule B:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" formControlName="scheduleB" id="scheduleB"/>
                </div>
              </div>
              </div>
              <div class="row">
              <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">Secondary Quantity:</div>
                <div class="ui-g-8">
                  <input pInputText type="text" formControlName="secondaryQuantity" id="secondaryQuantity"/>
                </div>
              </div>
            </div>
          
          
              <div class="ui-g-10">
                <button pButton label="Create" type="button" (click)="createCommodity(dialogCommodity)"></button>
                <button pButton label="Close" type="button" (click)="closeDialog(dialogCommodity)"></button>
              </div>
            </form>
    
    </p-dialog>